<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Github - OAuth2</title>
    <link rel='stylesheet' href='/stylesheets/w3.css'/>
    <link rel='stylesheet' href='/stylesheets/fontawesome/css/all.css'/>
</head>

<body>
    <div class="w3-display-middle">
        <h2>Welcome: <%= name %> (<%= login %>)</h2>
        You are authenticated!
    </div>
</body>
</html>
